Repository openshift/csi-driver-shared-resource: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

Path conditions:
  openshift-builds-shared-resource-on-push: ((any of: go.mod|go.sum|.konflux/shared-resource/Dockerfile) or (any of: pkg/csidriver|pkg/config|pkg/cache|pkg/consts|pkg/controller|pkg/metrics|cmd/csidriver|cmd/util)) or (any of: .tekton/openshift-builds-shared-resource-push.yaml)
  openshift-builds-shared-resource-webhook-on-pull-request: ((any of: go.mod|go.sum|.konflux/shared-resource-webhook/Dockerfile) or (any of: cmd/webhook|pkg/config|pkg/webhook)) or (any of: .tekton/openshift-builds-shared-resource-webhook-pull-request.yaml)

Updated pipelines for 1.5 release
  .tekton/openshift-builds-shared-resource-pull-request.yaml
  .tekton/openshift-builds-shared-resource-push.yaml
  .tekton/openshift-builds-shared-resource-webhook-pull-request.yaml
  .tekton/openshift-builds-shared-resource-webhook-push.yaml
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

Add mount binary to base image
  .konflux/shared-resource-webhook/Dockerfile
  .konflux/shared-resource/Dockerfile
  .tekton/openshift-builds-shared-resource-pull-request.yaml
  .tekton/openshift-builds-shared-resource-push.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

CherryPick: Add mount binary to base image
  .konflux/shared-resource-webhook/Dockerfile
  .konflux/shared-resource/Dockerfile
  .tekton/openshift-builds-shared-resource-pull-request.yaml
  .tekton/openshift-builds-shared-resource-push.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

[BUILD-1545] Fix error-handling for shared resources RBAC
  pkg/cache/configmaps.go
  pkg/cache/secrets.go
  pkg/cache/shares.go
  pkg/client/listers.go
  pkg/csidriver/driver.go
  pkg/csidriver/driver_test.go
  test/e2e/rbac_test.go
  test/framework/client.go
  test/framework/namespace.go
  test/framework/util.go
Due: openshift-builds-shared-resource-on-push

Create branch for builds-1.6
  .konflux/shared-resource-webhook/Dockerfile
  .konflux/shared-resource/Dockerfile
  .tekton/openshift-builds-shared-resource-pull-request.yaml
  .tekton/openshift-builds-shared-resource-push.yaml
  .tekton/openshift-builds-shared-resource-webhook-pull-request.yaml
  .tekton/openshift-builds-shared-resource-webhook-push.yaml
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-shared-resource-webhook-1-5
  .konflux/shared-resource-webhook/Dockerfile
Due: openshift-builds-shared-resource-webhook-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-shared-resource-1-5
  .konflux/shared-resource/Dockerfile
Due: openshift-builds-shared-resource-on-push

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-shared-resource-webhook-1-4
  .konflux/shared-resource-webhook/Dockerfile
Due: openshift-builds-shared-resource-webhook-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-shared-resource-1-4
  .konflux/shared-resource/Dockerfile
Due: openshift-builds-shared-resource-on-push

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-shared-resource-webhook-1-3
  .konflux/shared-resource-webhook/Dockerfile
Due: openshift-builds-shared-resource-webhook-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-shared-resource-1-3
  .konflux/shared-resource/Dockerfile
Due: openshift-builds-shared-resource-on-push

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-shared-resource-webhook-1-2
  .konflux/shared-resource-webhook/Dockerfile
Due: openshift-builds-shared-resource-webhook-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-shared-resource-1-2
  .konflux/shared-resource/Dockerfile
Due: openshift-builds-shared-resource-on-push

Add CPE ID label and fix name label
  .konflux/shared-resource-webhook/Dockerfile
  .konflux/shared-resource/Dockerfile
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

Migrate away from deprecated ioutil
  cmd/csidriver/main_test.go
  cmd/webhook/main.go
  pkg/config/manager.go
  pkg/csidriver/driver_test.go
  pkg/csidriver/nodeserver_test.go
  pkg/metrics/server_test.go
  pkg/webhook/dispatcher/dispatcher.go
  test/framework/pod.go
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

fix: add EC fixes for shared resource
  .konflux/shared-resource-webhook/Dockerfile
  .konflux/shared-resource/Dockerfile
  rpms.lock.yaml
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

fix shared resource for 1.6
  .konflux/shared-resource-webhook/Dockerfile
  .konflux/shared-resource/Dockerfile
  rpms.lock.yaml
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

fix: smoke/requirements.txt to reduce vulnerabilities
  smoke/requirements.txt
Due: none

chore: update go image to 1.25
  Dockerfile
  Dockerfile.mustgather
  Dockerfile.webhook
Due: none

add avinal as reviewer and approver
  OWNERS
Due: none

[BUILD-984] Add test to verify RBAC checks
  pkg/csidriver/driver.go
  test/e2e/rbac_test.go
  test/framework/pod.go
  test/framework/share.go
  test/framework/util.go
Due: openshift-builds-shared-resource-on-push

fix: move away from deprated functions
  Makefile
  go.mod
  go.sum
  pkg/cache/configmaps.go
  pkg/cache/secrets.go
  pkg/client/listers.go
  pkg/config/namewatcher.go
  pkg/controller/controller.go
  pkg/csidriver/driver.go
  pkg/csidriver/file.go
  pkg/csidriver/nodeserver_test.go
  pkg/csidriver/server.go
  pkg/metrics/server_test.go
  pkg/webhook/csidriver/csidriver_test.go
  test/e2e/rbac_test.go
  test/framework/client.go
  test/framework/configmap.go
  test/framework/daemonset.go
  test/framework/pod.go
  test/framework/util.go
  test/framework/webhook.go
  vendor/modules.txt
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

add conforma labels
  .konflux/shared-resource-webhook/Dockerfile
  .konflux/shared-resource/Dockerfile
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

chore: update to latest base images
  .konflux/shared-resource-webhook/Dockerfile
  .konflux/shared-resource/Dockerfile
  rpms.lock.yaml
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

[CVE-2025-61729] fix: update base images for security patch
  .konflux/shared-resource-webhook/Dockerfile
  .konflux/shared-resource/Dockerfile
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request

update 1.7 pipelines
  .tekton/openshift-builds-shared-resource-pull-request.yaml
  .tekton/openshift-builds-shared-resource-push.yaml
  .tekton/openshift-builds-shared-resource-webhook-pull-request.yaml
  .tekton/openshift-builds-shared-resource-webhook-push.yaml
Due: openshift-builds-shared-resource-on-push, openshift-builds-shared-resource-webhook-on-pull-request
